[centos-base]
name=CentOS-7 - Base
baseurl={{ nexus_url_base }}/repository/yum-centos/
enabled=1
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

[centos-updates]
name=CentOS-7 - Updates
baseurl={{ nexus_url_base }}/repository/yum-centos-updates/
enabled=1
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

#additional packages that may be useful
[centos-extras]
name=CentOS-7 - Extras
baseurl={{ nexus_url_base }}/repository/yum-centos-extras/
enabled=1
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

#additional packages that extend functionality of existing packages
[centosplus]
name=CentOS-7 - Plus
baseurl={{ nexus_url_base }}/repository/yum-centosplus/
enabled=1
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7


[cuda]
name = NVIDIA CUDA YUM Repo
baseurl = {{ nexus_url_base }}/repository/yum-cuda/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/7fa2af80.pub

[docker-ce-stable]
name=Docker CE Stable - x86_64
baseurl={{ nexus_url_base }}/repository/yum-docker-ce-stable/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/gpg

[docker-engine]
name=Docker-Engine Repository
baseurl={{ nexus_url_base }}/repository/yum-docker-engine/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/gpg

[epel]
name = EPEL YUM repo
baseurl = {{ nexus_url_base }}/repository/yum-epel/
enabled=1
gpgcheck=0
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7


[libnvidia-container]
name=libnvidia-container
baseurl={{ nexus_url_base }}/repository/yum-libnvidia-container/
enabled=1
gpgcheck=1
gpgkey = file:///etc/pki/rpm-gpg/gpgkey

[nvidia-container-runtime]
name=nvidia-container-runtime
baseurl={{ nexus_url_base }}/repository/yum-nvidia-container-runtime/
enabled=1
gpgcheck=1
gpgkey = file:///etc/pki/rpm-gpg/gpgkey

[nvidia-docker]
name=nvidia-docker
baseurl={{ nexus_url_base }}/repository/yum-nvidia-docker/
enabled=1
gpgcheck=1
gpgkey = file:///etc/pki/rpm-gpg/gpgkey

[nvidia-ml]
name = NVIDIA Machine Learning Repo
baseurl = {{ nexus_url_base }}/repository/yum-nvidia-ml/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/7fa2af80.pub

